html, body {
    margin: 0;
    padding: 0; 
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
    color: #0E0E0E;
    ;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }


.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 500;
}


  h1, h2, h3,
  .footer__header-link {
    font-weight: 500;
  }


  h1 {
    line-height: 48px;
    color: #FFFFFF;
}

  h1 {
    font-size: 37.19px;
}

  h2 {
    font-size: 37.81px;
    }
    
p,
.support__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    }

h3 {   
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
}


button,
.nav__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.76px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}


/*FOOTER*/
.footer__header-link {
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
}

.footer__link {
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;

}