html, body {
    margin: 0;
    padding: 0; 
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
    color: #0E0E0E;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

  h1 {
    line-height: 48px;
    color: #FFFFFF;
}

  h1 {
    font-size: 37px;
}

h2 {
font-size: 37px;
/* font-size: 22.88px; */
color: #222222;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #222222;
}

.lead {
    font-size: 1rem;
    line-height: 25px;
}


.lh-base {
    line-height: 24px;
}

.lh-lg {
    line-height: 48px;
}

h3,
.footer__header-link,
.footer__link {   
    font-family: 'Avenir Next', sans-serif;
}

button,
.nav__link {
    font-family: Inter;
    font-size: 14px;
    line-height: 18.76px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 500;
}


/*FOOTER*/

.footer__link {
    line-height: 2rem;
}