
@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
      url('../../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
      url('../../fonts/AvenirNextCyr-Regular.woff') format('woff'),
      url('../../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/AvenirNextCyr-Medium.eot');
  src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
      url('../../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
      url('../../fonts/AvenirNextCyr-Medium.woff') format('woff'),
      url('../../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../../fonts/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/static/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/static/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../../fonts/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}