.container {
    width: 1440px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* .main-content {
    max-width: 100%;
    width: 75%;
} */

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.no-bullets {
    list-style-type: none; 
}

.is-centered {
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin: 1rem 0rem 0rem 0rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.ml-1 {
    margin-left: 1rem;
}

.justify-content-between {
    justify-content: space-between;
}

.flexible {
    flex-grow: 1;
}

.width-100 {
    width: 100%;
    max-width: 100%;
}