.container {
    width: 1440px;  
    max-width: 100%; 
    height: auto;
    margin: auto;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.no-bullets {
    list-style-type: none; 
}

.is-centered {
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin: 0;
}

.margin-top,
.mt-1 {
    margin-top: 1rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.ml-1 {
    margin-left: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

.justify-content-between {
    justify-content: space-between;
}

.flexible {
    flex-grow: 1;
}

.width-100 {
    width: 100%;
    max-width: 100%;
}