.button {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background: #482BE7;
    color: #FFFFFF;
    padding: 16px 24px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.button:hover {
    background:  #ae96bf;
}

.outline-button {
    background: none;
    border: 2px solid #ae96bf;
}

.hide-item {
    display: none;
}

@media (max-width: 768px) {
    .outline-button {
        display: none;
    }

    .hide-item {
        display: flex;
    }
}