.button {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.blue-button {
    background: #283849;
    color: #FFFFFF;
}

.white-button {
    background: #FFFFFF; 
    color: #283849;
}

/* .button:hover {
    background:  #ae96bf;
}


.hide-item {
    display: none;
}

@media (max-width: 768px) {

    .hide-item {
        display: flex;
    }
} */