<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
      
    
    </head>
    
    <body>
       
<!-- Regular Card -->


<div class="card">            
    <div class="card__image-group row">
        <div class="card__content-text row justify-content-between">
            <div class="card__time row is-centered">
                <div class="card__circle"></div>
                <p class="no-margin">12:30 pm</p>
            </div>
            <p class="no-margin">Reiki Session</p>
        </div>
        <div class="card__image-wrapper width-100">
            <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
        </div>
    </div>
</div>



<!-- Clickable Card - -->

<div class="card">            
    <div class="card__content">
        <div class="card__image-group row">
            <div class="card__content-text row justify-content-between">
                <div class="card__time row is-centered">
                    <div class="card__circle"></div>
                    <p class="no-margin">12:30 pm</p>
                </div>
                <p class="no-margin">Reiki Session</p>
            </div>
            <div class="card__image-wrapper width-100">
                <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
            </div>
        </div>
        
        <a href="#card-link" class="card__link"></a>
    </div>
</div>


<h2>Appointment Card</h2>

<!-- Appointment Card -->


    <div class="card">            
        <div class="card__content">
            <div class="card__group col">
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                </div>
                <div class="card__text row">
                    <p class="appointment-text">Education and Tutoring</p>
                </div>
            </div>
        </div>
    </div>




    <h2>Customer Benefits Card</h2>

    <!-- Customer Benefits Card -->
    
    
        <div class="benefits__card">            
            <div class="benefits__content">
                <div class="benefits__group col">
                    <div class="benefits__text-group col width-100 pr-1">
                        <p class="benefits-text-number mt-0">01</p>
                        <p class="benefits-text no-margin">
                            <strong>Manage everything</strong> <br>
                        
                            sync calendars, control staff
                            permissions, and work on the go
                            with our mobile app.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    





    <script src="../js/script.js"></script>
    </body>
    
    </html>