<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
      
    
    </head>
    
    <body>
       

<!-- Clickable Card - -->


<div class="card width-100">            
    <div class="card__content column">
        <div class="card__image-wrapper width-100">
            <img class="card__image width-100" src="../images/haircut1.jpg" alt="Taco store sign hanging on an irregular structure" width="470" height="280" loading="lazy">
        </div>
        <div class="card__text column flexible is-centered">
            <p class="card__subtitle subheader__small margin-top">UI KIT</p>
            <h5 class="card__heading margin-bottom ">
                Mozart Project
            </h5>
        </div>
        <a href="#card-link" class="card__link"></a>
    </div>
</div>






<div class="card">            
    <div class="card__content">
        <div class="card__image-group row">
            <div class="card__content-time column justify-content-between">
                <div class="card__time">
                    <div class="card__circle"></div>
                    <p class="card__content-date-text ">12:30 pm</p>
                </div>
                <p class="card__content-date-text ">Reiki Session</p>
            </div>
            <div class="card__image-wrapper width-100">
                <img class="card__image" src="../images/massage.jpg" alt="smiling woman in a white blouse" width="424" height="213" loading="lazy">
            </div>
        </div>
        
        <a href="#card-link" class="card__link"></a>
    </div>
</div>


    </body>
    
    </html>