<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/feature-card.css">
      
    
    </head>
    
    <body>
       
<!-- Landscape Card -->
 <div class="container row is-centered">
    <div class="feature__card-1 row p-2">
        <div class="feature__text  pt-1">
            <h2 class="fw-bold no-margin">Protect your time and maximize your income </h2>
            <p class="no-margin">
                Get peace of mind with no-show protection tools
                like storing credit cards and secure deposits.
                Seamlessly offer recurring subscriptions,
                packages, and gift cards to up your earnings.
            </p>
        
        </div>
        
        <div class="feature__image-wrapper">
            <img class="feature__image-1 width-100" src="../images/feature.jpg" alt="list of cost of services" width="464" height="385" loading="lazy">          
        </div>  
    </div>
</div>
    



<!-- Portrait Card -->
<div class="container row is-centered">
    <div class="feature__card-2 col p-3">
        <div class="feature__text-2  pt-1">
            <h2 class="fw-bold no-margin">Enable automated appointment booking </h2>
            <p class="no-margin">
                Seamlessly manage multiple locations and let
                clients easily cancel or reschedule their own
                appointments. Send automated receipts as well
                as reminder notifications throughout the
                scheduling process to keep clients prompt.
            </p>
        
        </div>
        
        <div class="feature__image-wrapper-2">
            <img class="feature__image-1 width-100" src="../images/booking-image.jpg" alt="images of buttons to cancel or schedule" width="454" height="321" loading="lazy">          
        </div>  
    </div>
</div>
    

    <script src="../js/script.js"></script>
    </body>
    
    </html>