<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
        <link rel="stylesheet" href="../css/components/slider.css">
    
    </head>
    
    <body>


<!-- Slider -->


<div class="slider">
    <div class="slider__wrapper row">
        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>

       
    </div>
</div>


<!-- Appointment Slideshow container -->


<div class="slideshow width-100">
    <div class="slide__controls row is-centered gy-2">
        <div >
            <p class="slide__controls-text" >
               <span id="slideCount"> 01 </span> / 09
            </p>
        </div>

        <!-- Next and previous buttons -->
        <div class="slideshow__buttons row">
            <a id="prevButton" class="prev" onclick="nextSlide(-1)">
                <img class="slide__arrow-icon" src="../images/arrow-left.svg.svg" alt="left arrow icon" width="16" height="12" loading="lazy">
            </a>
            <a id="nextButton" class="next" onclick="nextSlide(1)">
                <img class="slide__arrow-icon" src="../images/arrow-right.svg.svg" alt="right arrow icon" width="16" height="12" loading="lazy">
            </a>
        </div>
    </div>

    <!-- Slideshow cards -->
    <div id="slideGroup" class="slideshow__cards-group row gx-1">

        <!-- Images with text -->

        <div class="slide__card ">        
            <div class="card__content col">
                <img class="slide__image width-100 active" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>

        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>

        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>


        <div class="slide__card">        
            <div class="card__content col">
                <img class="slide__image width-100" src="../images/1_calculator.jpg" alt="calculator" width="7712" height="5144" loading="lazy">
                <p class="appointment-text">Education and Tutoring</p>
            </div>
        </div>
    </div>
  </div>
  
  



  <!-- <p id="testMe">Try me</p>
  <a href="#" id="testButton" class="button blue-button">Try scheduling</a> -->



  
  <script src="../js/carousel.js"></script>
    </body>
    
    </html>

    
