<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
        <link rel="stylesheet" href="../css/components/slider.css">
    
    </head>
    
    <body>


<!-- Slider -->


<div class="slider">
    <div class="slider__wrapper row">
        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>

        <!-- /* ADDED */ -->

        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>


        <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin text-white">12:30 pm</p>
                    </div>
                    <p class="no-margin text-white">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div>



    </div>
</div>

<!-- <script src="../js/script.js"></script> -->
    </body>
    
    </html>

    

        <!-- <div class="slider__card">            
            <div class="card__image-group row">
                <div class="card__content-text row justify-content-between">
                    <div class="card__time row is-centered">
                        <div class="card__circle"></div>
                        <p class="no-margin">12:30 pm</p>
                    </div>
                    <p class="no-margin">Reiki Session</p>
                </div>
                <div class="card__image-wrapper width-100">
                    <img class="card__image width-100" src="../images/massage.jpg" alt="smiling woman getting massage" width="7680" height="5120" loading="lazy">
                </div>
            </div>
        </div> -->
