<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
        <link rel="stylesheet" href="../css/components/slider.css">
    
    </head>
    
    <body>
        <section class="container">
            <p id="testMe">Try</p>
            <a href="#" id="testButton" class="button blue-button">Try scheduling</a>
        </section>


  
    <script src="../script.js"></script>
    </body>
    
    </html>