.card {    
    max-width: 400px;
    margin: 0 auto;
    position: relative; 
}

.card__image-wrapper {
    max-width: 400px;
}

.card__image-group {
        position: relative;
    }
    
.card__content-time {
    position: absolute;
    top: 7.65px;
    left: 8px;
    color: white;  
    width: 100%;
}

.card__circle {
    width: 15px;
    height: 15px;
    background-color: azure;
    border-radius: 50%;
}

/* .card__image {
    border-radius: 10px;
    object-fit: cover;
}

.card__text {
    padding-bottom: 2rem;
}

.card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }  */




  

  
 
  
  .date-month,
  .date-number,
  .card__content-date-text {
      margin: 0;
  }
  
  
  .date-number {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 24px;  
      text-align: left;
  }
  
  




/* Team Cards */
.card__team {
   /* max-width: 154px; 
   max-width: 100%; */
   flex: 0 1 30%;
}

.card__user-image-wrapper {
    max-width: 100px;
}

.card__user-image {
    border-radius: 50%;
    object-fit: contain;
}

.card__socials {
    padding-left: 0;
    gap: 1rem;
}


@media (max-width: 768px) {
.card__team {
    flex: 0 1 100%;
 }

 .card__content,
 .card__text {
    align-items: center;
    
 }
}