.card {    
    max-width: 400px;
    margin: 0 auto;
    position: relative; 
}

.card__image-wrapper {
    max-width: 400px;
    overflow: hidden; /* added */
}

.card__image-group {
        position: relative;
    }
    
.card__content-text {
    position: absolute;
    top: 1rem;
    color: white;  
    
    padding: 0rem 1rem;
}

.card__time {
    gap: 0.5rem;
}

.card__circle {
    width: 15px;
    height: 15px;
    background-color: azure;
    border-radius: 50%;
}

.card__image {
    border-radius: 10px;
    height: auto; 
}

.card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }  

  /* REVIEW FOR LATER*/

  .appointment-text {
    font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #222222;

  }

  


@media (max-width: 768px) {
.card {
    flex: 0 1 100%;
 }

 }
