.card {    
    max-width: 470px;
    margin: 0 auto;
    position: relative; 
}

.card__image-wrapper {
    max-width: 470px;
}

.card__image {
    border-radius: 10px;
    object-fit: contain;
}

.card__text {
    padding-bottom: 2rem;
}

.card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  } 

/* Team Cards */
.card__team {
   /* max-width: 154px; 
   max-width: 100%; */
   flex: 0 1 30%;
}

.card__user-image-wrapper {
    max-width: 100px;
}

.card__user-image {
    border-radius: 50%;
    object-fit: contain;
}

.card__socials {
    padding-left: 0;
    gap: 1rem;
}


@media (max-width: 768px) {
.card__team {
    flex: 0 1 100%;
 }

 .card__content,
 .card__text {
    align-items: center;
    
 }
}