.feature {
    display: flex;
    justify-content: center;
}
.feature__card-1 {
    max-width: 928px;
    width: 100%;
    height: auto;
    border-radius: 22px;
    background-color: #F4F4F4;  
    }

    .feature__text {
        width: 50%;
        padding-right: 7rem;
        gap: 1rem;
    }

    .feature__image-wrapper {
       width: 50%;
    }
    
    .feature__image-1 {
    max-width: 464px;
    width: 100%;
    border-radius: 22px;
    object-fit: cover;
    }


    /* Card 2*/

    .feature__card-2 {
    max-width: 454px;
    width: 100%;
    border-radius: 22px;
    justify-content: space-between; 
    }

    .feature__card-2 {
        background-color: #F4F4F4;
        }

    .feature__text-2 {
    padding-right: 4rem;
    gap: 1rem;
    }

    .feature__middle {
        align-items: stretch;
    }

    /* Card 3 */
    .feature__3 {
        max-width: 928px;
        width: 100%;
        /* padding: 179.85px 105px 77.85px 105px; */
    }

    .feature__card-3 {
        max-width: 718px;
        width: 100%;
        border-radius: 22px;
       justify-content: space-between; 
    }

    .feature__text-3 {
        padding: 20px 73px;
    }

    
@media (max-width: 768px) {
    .feature__card-1,
    .feature__middle {
        flex-direction: column;
    }
    .feature__text,
    .feature__image-wrapper {
        width: 100%;
    }

    .feature__text,
    .feature__text-2 {
        text-align: center;
        padding-right: 0;
    }

}