  /* Slider */ 

.slider {
  max-width: 100%;
  width: 100%; 
  overflow: hidden;
}

@keyframes infiniteScroll {
  from {transform: translateX(0) }
  to {transform: translateX(-100%);} 
}

.slider__wrapper {
  animation: infiniteScroll 30s linear infinite;
  gap: 1rem;
  flex-wrap: nowrap;
}

.slider__card {
  flex-shrink: 0; 
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; 
  }

  /* Appointment Slideshow */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  user-select: none;
  padding: 0.5rem;
  border-radius: 10px;
}

  .slideshow__cards-group {
    position: relative;
    overflow: hidden;
  }

  .slide__card {
    flex-shrink: 0;
  }

  .slide__controls {
    justify-content: end;
  }

  .slide__controls-text {
    font-family: 'Avenir Next', sans-serif;
    font-size: 17.72px;
    line-height: 18px;
}

  .slide__image-wrapper {
    max-width:370px;
    width: 100%;
  }

  .slide__image {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 22px ;
  }

.slide__arrow-icon {
  width: 15px;
  height: 12pxpx;
}

.active,
.prev:hover,
.next:hover,
.slide__image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
