  /* Slider */ 

.slider {
  max-width: 100%;
  width: 100%; 
  overflow: hidden;
 

}

@keyframes infiniteScroll {
  from {transform: translateX(0) }
  to {transform: translateX(-100%);} 
}

.slider__wrapper {
  animation: infiniteScroll 30s linear infinite;
  gap: 1rem;
  flex-wrap: nowrap;
}

.slider__card {
  flex-shrink: 0; 
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; 
  }

  /* Appointment Slideshow */

  .slide {
    flex-shrink: 0;
  }

  .slide__controls {
    justify-content: end;
  }

  .slide__controls-text {
    font-family: 'Avenir Next', sans-serif;
    font-size: 17.72px;
    line-height: 18px;
}

  .slide__image-wrapper {
    max-width:370px;
    width: 100%;
  }

  .slide__image {
    width: 350px;
    height: auto;
    border-radius: 22px ;
  }
