.benefits {
    top: 3211px;
    padding: 120px 138px 49px 138px;
}

.benefits__headings {
    padding-bottom: 1rem;
    align-items: center;
    gap: 5rem;
}

.benefits__card-group-list {
    counter-reset: count;
    flex-wrap: wrap;
}

.benefits__text-number::before {
    counter-increment: count;
    content: counter(count, decimal-leading-zero);
}

.benefits__heading-title {
    line-height: 48px;
    /* padding-right:  109px; */
    width: 40%
}

.benefits__heading-lead {
    font-family: 'Avenir Next', sans-serif;
    line-height: 26px;
    padding-right: 71px; 
    width: 45%;
    font-size: 16px;
}


@media (max-width: 768px) {
    .benefits {
        top: 0;
        padding: 1rem;
    }

    .benefits__headings {
        flex-direction: column;
        gap: 0;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .benefits__heading-title { 
         width: 100%;
         margin-bottom: 0;
    }

    .benefits__heading-lead {
        width: 100%;
        padding: 0rem 3rem;
        }

    .benefits__card-group-list {
      justify-content: center;
}
}