.support {
    width: 90%;
    padding: 40px;
    border-radius: 22px;
    background-color: #283849;
    gap: 12rem;
    margin: auto;
    /* flex-wrap: wrap; */
}

.support__text {
    margin-top: 1rem;
    padding-left: 88px;
    gap: 2rem;
    width: 100%;
}

.support__image {
    max-width: 557.83px;
    width: 100%;
    height: auto;
    border-radius: 22px;
}

.support__link {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .support {
        flex-direction: column;
        gap: 2rem;
    }

    .support__text {
        margin-top: 0;
        padding-left: 0;
        gap: 0;
       
    }
    
 }