.hero {
    background-color: #5F93C0; 
}

.hero__headings {
    width: 45%;
}

.hero__slider {
    gap: 1rem;
}

.hero__lead {
    margin: 0rem 3rem 2rem 3rem;  
}

.hero__small-text {
    font-size: 12px;
line-height: 19px;
}

/* Appointment Section */
.appointment__headings {
    /* padding: 1rem 5rem; */
    align-items: center;
    gap: 5rem;
    width: 81%;
    margin: auto;
}

.appointments__heading-title {
    line-height: 48px;
    width: 40%;
    font-size: 38px;
}

.appointments__heading-lead {
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    width: 33%;
}

@media (max-width: 768px) {
.hero__headings {
    width: 80%;
}

.appointment__headings {
    flex-direction: column;
    gap: 0;
    text-align: center;
}
.appointments__heading-lead,
.appointments__heading-title {
    width: 90%;
    margin-bottom: 0;
}

}