.hero {
    background-color: #5F93C0; 
}

.hero__headings {
    width: 45%;
}

.hero__slider {
    gap: 1rem;
}

.hero__lead {
    margin: 0rem 3rem 2rem 3rem;  
}

.hero__small-text {
    font-size: 12px;
line-height: 19.2px;
}

/* Appointment Section */
.appointment__headings {
    padding-bottom: 1rem;
    align-items: center;
    gap: 5rem;
}

.appointments__heading-title {
    line-height: 48px;
    width: 40%;
    font-size: 38.28px;
}

.appointments__heading-lead {
    font-size: 15.75px;
    font-weight: 400;
    line-height: 19.2px;
    width: 33%;
}

@media (max-width: 768px) {
.hero__headings {
    width: 80%;
}
}